
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error Page</title>
</head>
<body>
    <hgroup>
        <div class="container text-danger mt-3">
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h2>Message for exception is: @ViewBag.ErrorMsg</h2>
            </div>
    </hgroup>
</body>
</html>
