
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentFailure</title>
</head>
<body>
    <div> 
        <h1>Payment Failed... Please Try Again.....</h1>
    </div>
</body>
</html>
