
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index123</title>
</head>
<body>
    <div>
        <form action="/Home/Initiatepayment">
            <input type="text" id="amount" name="amount"/>
            <input type="submit" value="Pay Now"/>
        </form>
    </div>
</body>
</html>
