
@{
    Layout = "~/Views/Shared/Admin.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentSuccess</title>
</head>
<body>
    <div> 
        <h1> Payment Successfully Done...</h1>
    </div>
</body>
</html>
