

@using (Html.BeginForm("AddTechnician", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Technician
    </button>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADD Technician</h5>

                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-10">
                           <input type="email" name="techemail" class="form-control" required  placeholder="Enter Your Email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="password" name="techpass" class="form-control" required pattern="^[A-Za-z0-9]{8,20}" title="Length must be greater than 8" placeholder="Enter Your Password" />

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class="btn btn-primary" />

                </div>
            </div>
        </div>
        </div>
       

    

    
}
